<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager - Bookmark View</title>
  </head>
  <body>
    <h1>Bookmark List</h1>
    <% @bookmarks.each do |bookmark| %>
    <p><a href='<%=bookmark[:url]%>'><%=bookmark[:title]%></a></p>
    <% end %>
    <form action="/bookmark/new" method="get">
      <input type="submit" value="Add New Bookmark"></input>
    </form>
  </body>
</html>
