<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager - Bookmark View</title>
  </head>
  <body>
    <h1>Bookmark List</h1>
    <p><%= @bookmarks %></p>
    <form action="/add_bookmark" method="get">
      <input type="submit" value="Add New Bookmark"></input>
    </form>
  </body>
</html>
